<div class="container">
    <ul>
        <li>@Html.ActionLink("About", "About", "Company", new { area = "Information" },null)</li>
        <li>@Html.ActionLink("Contact Us", "Contact", "Company", new { area = "Information" },null)</li>
        <li>@Html.ActionLink("Privacy Policy", "Privacy", "Legal", new { area = "Information" },null)</li>
        <li>@Html.ActionLink("Terms & Conditions", "Terms", "Legal", new { area = "Information" },null)</li>
    </ul>
</div>
